n8n-workflows/workflow-1-alert-instant-check.json
{
  "name": "WF1: 가격 알림 즉시 체크",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: 알림 등록 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"received\"}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "즉시 응답 (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "url": "=https://pc-site-backend.vercel.app/api/parts/{{ $json.body.category }}/{{ encodeURIComponent($json.body.name) }}",
        "options": {}
      },
      "id": "get-current-price",
      "name": "현재 가격 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.price }}",
              "operation": "smallerEqual",
              "value2": "={{ $('Webhook: 알림 등록 수신').item.json.body.targetPrice }}"
            }
          ]
        }
      },
      "id": "check-price",
      "name": "목표가 달성?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.DISCORD_ALERT_WEBHOOK }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=🔔 **가격 알림 달성!**\n\n**{{ $('Webhook: 알림 등록 수신').item.json.body.name }}**\n💰 현재가: **{{ $('현재 가격 조회').item.json.price.toLocaleString() }}원**\n🎯 목표가: {{ $('Webhook: 알림 등록 수신').item.json.body.targetPrice.toLocaleString() }}원\n📧 {{ $('Webhook: 알림 등록 수신').item.json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "discord-notify",
      "name": "Discord 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://kapi.kakao.com/v2/api/talk/memo/default/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "template_object",
              "value": "={\"object_type\":\"text\",\"text\":\"🔔 가격 알림 달성!\\n\\n{{ $('Webhook: 알림 등록 수신').item.json.body.name }}\\n현재가: {{ $('현재 가격 조회').item.json.price }}원 (목표: {{ $('Webhook: 알림 등록 수신').item.json.body.targetPrice }}원)\",\"link\":{\"web_url\":\"https://goodpricepc.vercel.app\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "kakao-notify",
      "name": "KakaoTalk 나에게 보내기",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 450]
    }
  ],
  "connections": {
    "Webhook: 알림 등록 수신": {
      "main": [
        [
          { "node": "즉시 응답 (200 OK)", "type": "main", "index": 0 },
          { "node": "현재 가격 조회", "type": "main", "index": 0 }
        ]
      ]
    },
    "현재 가격 조회": {
      "main": [[{ "node": "목표가 달성?", "type": "main", "index": 0 }]]
    },
    "목표가 달성?": {
      "main": [
        [
          { "node": "Discord 알림", "type": "main", "index": 0 },
          { "node": "KakaoTalk 나에게 보내기", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": { "saveManualExecutions": true },
  "_comment": "설정 필요: DISCORD_ALERT_WEBHOOK 환경변수, KakaoTalk HTTP Header Auth 자격증명(Authorization: Bearer <access_token>)"
}
